<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, private">
    <meta http-equiv="Pragma" content="no-cache">
    <title>User Login</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .head {
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 10vh;
            text-align: center;
            color: red;
            padding-top: 10vh;
        }

        .middle {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5vh;
        }

        .userLoginField {
            width: 34vh;
            margin: 2vh;
            height: 5vh;
            border-radius: 5px;
            border: 2px solid black;
        }

        .submitBtn {
            width: 10vh;
            margin-left: 2.5vh;
            background-color: black;
            color: white;
            border: none;
            border-radius: 25px;
            padding: 2vh;
            width: 34vh;
            cursor: pointer;
            font-family: 'Times New Roman', Times, serif;
        }

        .authFormUser {
            border: 2px solid black;
            padding: 5vh;
            border-radius: 10px;
            background-color: turquoise;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .forgotPassLink {
            text-align: center;
            margin-top: 1vh;
        }

        hr {
            border: 1px solid black;
            width: 34vh;
        }

        a {
            color: black;
        }

        .userCreateAccountBtn {
            border: 2px solid black;
            background-color: black;
            height: 6vh;
            width: 34vh;
            border-radius: 5px;
            cursor: pointer;
            font-family: 'Times New Roman', Times, serif;
            color: white;
        }
    </style>
</head>
<body>
    <div class="head">
        User Login...
    </div>
    <div class="middle">
        <div class="authFormUser">
            <form id="loginForm" action="/user/login" method="POST">
                <input type="text" name="username" placeholder="Enter Username" id="uname" class="userLoginField" required><br>
                <input type="password" name="password" placeholder="Password" id="pass" class="userLoginField" required><br>
                <button type="submit" class="submitBtn">Login</button><br>
            </form>
            <div class="forgotPassLink"><a href="">Forgot password?</a><hr></div>
            <div>Don't have an account...</div>
            <button class="userCreateAccountBtn" onclick="" id="createNewUserAc"><b>Create new account</b></button>
        </div>
    </div>
    <script>
        document.getElementById('createNewUserAc').addEventListener('click',function(){
            window.location.href = '/user/register';
        });
    </script>
</body>
</html>
